* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

/* SIDEBAR */

.sidebar {
    width: 300px;
    height: 100vh;
    background: #5bbf9b;
    color: white;
    padding: 30px;
    position: fixed;
    text-align: center;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.sidebar h2 {
    margin-bottom: 5px;
}

.sidebar p {
    font-size: 14px;
    margin-bottom: 20px;
}

.social-icons a {
    color: white;
    margin: 0 8px;
    font-size: 18px;
    text-decoration: none;
}

.sidebar hr {
    margin: 25px 0;
    border: 0.5px solid rgba(255,255,255,0.5);
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 12px 0;
    font-weight: bold;
}

nav a:hover {
    opacity: 0.7;
}

.contact-btn {
    margin-top: 25px;
    padding: 10px 20px;
    border: none;
    background: #2f7f67;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.footer-text {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
}

/* CONTENT */

.content {
    margin-left: 300px;
    padding: 50px;
    width: 100%;
    background: #f5f5f5;
    min-height: 100vh;
}

.content h1 {
    margin-bottom: 20px;
}

.content h2 {
    margin-top: 40px;
    margin-bottom: 15px;
}

section {
    margin-bottom: 30px;
}
